<div class="top-menu">
  <img
    class="logo"
    src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png"
  />
 
<!--{{ course1.}}--><!--VARIABLES EN APP.TS-->

  <div style="text-align:right">
    <p *ngIf="!authService.isLoggedIn()">
      <button (click)="login()">
        Login
      </button>
    </p>
    <p *ngIf="authService.isLoggedIn()">
      <button (click)="admin()" class="button">
        Admin
      </button>
      <button (click)="logout()" class="button">
        Logout
      </button>
    </p>
  </div>
</div>

<!-- RUTAS -->
<router-outlet></router-outlet>  

